@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');

body
{
	margin: 0px;
	width:100%;
	text-align:center;
	background: rgb(2,37,31);
    background: linear-gradient(90deg, rgba(2,37,31,1) 0%, rgba(9,121,112,1) 27%, rgba(20,185,169,1) 56%, rgba(0,255,221,1) 100%);
	overflow: auto;
}
#main{
	width: 200%;
	height: 100vh;
	position: relative;
	top: 0px;
	left: 0px;
}
#header{
    background:white;
    margin: 2.5% 20% 2.5% 20%;
    border-radius: 20px;
    box-shadow: 1px 1px 30px 8px #052929;
}
#mainbody{
    background: white;
    width:100%;
	display:none;
}
.container
{
	background-color: cyan;
	margin-left: 5%;
	margin-right: 5%;
}
#mp1{
    text-align:center;
    font-size:45px;
    margin-top: -7%;
    color: #4a4108;
    font-family: 'Aladin', cursive;
}
#box1
{
	width: 50%;
	height: 100%;
	background: white;
	margin-top: 10%;
	left: 0px;
	float: left;
}
#option
{
	width: 70px;
	height: 130px;
	background: #23242a;
	position: fixed;
	top: 50%;
	left: 50px;
	transform: translateY(-50%);
	border-radius: 35px;
	z-index: 9999;
}
.active
{
	background: #ffbb00;
}
#data
{
	font-family: arial;
	font-size: 20px;
	color: #23242a;
	padding-bottom: 5px;
	background: transparent;
	border: none;
	outline: none;
	border-bottom: 3px solid navy;
	margin-top: 50px;
	margin-left: 250px;
	width: auto;
}
#msg
{
	margin-left: 200px;
	margin-top: 10px;
	font-family: arial;
	font-size: 10px;
}
::placeholder
{
	color: #23242a;
}
#outputbox
{
	width: 400px;
	height: 60%;
	background-color: #ffbb00;
	border-radius: 20px;
	box-shadow: -5px 5px 10px rgba(0,0,0,.1);
	margin-left: 180px;
	position: absolute;
	margin-top: 15%;
	padding: 20px 20px 20px 20px;
	transform: translateY(-50%);
}
#outputbox img
{
	width: 300px;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translate(-50%, -50%);
}
.btn1
{
    padding: 1.5% 3% 1.5% 3%;
    border-radius: 15px;
    border: none;
    margin-top: -20%;
    margin-left: 75%;
    background-color: #4a4108;
    color: white;
    margin-left: 8%
    font-weight: bold;
}
.btn1:hover
{
    cursor: pointer;
    background-color: #2b2604;
}